* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

top {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;

}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: large;
}

header {
    display: flex;
    justify-content: center;
}

#vector_1 {
    stroke-dasharray: 650;
    animation: 15s fillSvg backwards;
}

@keyframes fillSvg {
    0% {
        stroke-dashoffset: 568;
    }

    100% {
        stroke-dasharray: 0;
    }
}

#vector_2 {
    stroke-dasharray: 568;
    animation: 15s fillSvg backwards;
}

@keyframes fillSvg {
    0% {
        stroke-dashoffset: 700;
    }

    100% {
        stroke-dasharray: 0;
    }
}

#vector_3 {
    stroke-dasharray: 575;
    animation: 15s fillSvg backwards;
}

@keyframes fillSvg {
    0% {
        stroke-dashoffset: 575;
    }

    100% {
        stroke-dasharray: 0;
    }
}

#vector_4 {
    stroke-dasharray: 400;
    animation: 15s animate backwards;
}

@keyframes animate {
    to {
        stroke-dashoffset: 400;
    }
}


h1,
h2 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}